.git
.github
.venv
.pytest_cache
.ruff_cache
__pycache__
*.egg-info
*.py[cod]
.coverage
.DS_Store

data
sample-images
tests
docs
scripts
.pre-commit-config.yaml
CONTRIBUTING.md
Makefile
third-party-notices.md
